
:root {
	--foreground-color: #FFFFFF;
	--secondary-color: #B8B8B8;
	--accent-color: #FF5B50;
	--background-color: #101010;
}

/* FONTS */

@font-face {
	font-family: "Helvetica Now Display";
	src: local('/fonts/HelveticaNowDisplay-Regular.woff2');
	font-weight: normal;
}

@font-face {
	font-family: "Helvetica Now Display";
	src: local('/fonts/HelveticaNowDisplay-ExtraBold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: "Tiempos Fine";
	src: local('/fonts/TiemposFine-Black.woff2');
}

/* region: CSS reset, courtesy of joshwcomeau.com/css/custom-css-reset/ */

* { margin: 0; }
html, body { height: 100%; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

/* endregion */

