:root {
  --foreground-color: #ffffff;
  --secondary-color: #9b9b9b;
  --accent-color: #ff5b50;
  --background-color: #101010;
  --background-raised-color: #333333;
  --black: #000;
  --background-color-transparent: rgba(0, 0, 0, 0.8);
  --box-shadow: rgba(255, 91, 80, 0.33);
  --default-color: rgb(39, 110, 241);
  --positive-color: rgb(4, 136, 72);
  --warning-color: rgb(255, 192, 67);
  --negative-color: rgb(225, 25, 0);
  --qr-width: 300px;
}

/* FONTS */

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('/fonts/HelveticaNowDisplay-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('/fonts/HelveticaNowDisplay-ExtraBold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: local('/fonts/TiemposFine-Black.woff2');
}

/* region: CSS reset, courtesy of joshwcomeau.com/css/custom-css-reset/ */

* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* endregion */

/* GLOBAL STYLES */
/* styles that affect all pages should go here */

body {
  color: var(--foreground-color);
  background-color: var(--background-color);

  font-family: 'Helvetica Now Display', 'Helvetica Neue', 'Helvetica',
    sans-serif;
  font-size: 16px; /* 1rem 12pt*/
}

input:focus {
  outline: solid 1px var(--accent-color);
}

.default-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default-wrapper {
  width: 80vw;
  max-width: 400px;
}

.top-margin {
  margin-top: 40px;
}

.default-button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background-color: var(--accent-color);

  margin: 8px 0;
  padding: 12px 16px;
  display: block;

  outline: none;
  border: none;
  border-radius: 8px;
}

button.default-button {
  width: 100%;
}

.default-button a {
  cursor: pointer;
  display: block;

  color: var(--background-color);
  text-decoration: none;

  margin: -12px -16px;
  padding: 12px 16px;
}

h1,
h2 {
  font-family: 'Tiempos Fine', serif;
}

h1, h2, h3, h4 {
	line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 11px;
}

h3 {
	  font-size: 1.2rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-color);
}

p {
  margin-bottom: 16px;
}
